@import "variables";
@import "sidebar";

html {
  color: var(--quaternary); // color: var(--primary);
}

body {
    font-family: Inter;
    font-weight: 400;
}

body:not(.navigation-categories):not(.navigation-topics) #main-outlet {
    background: none !important;
    box-shadow: none !important;
    border-top: none !important;
}

h1, h2, h3 {
    font-family: ABCMaxiRound;
    font-weight: 400;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.d-editor-textarea-wrapper,
.select-kit-header {
  border-radius: var(--gc-border-radius);
  text-transform: capitalize;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.d-editor-textarea-wrapper.in-focus,
.select-kit.multi-select.is-expanded .multi-select-header,
.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):focus,
.select-kit.single-select .select-kit-header:not(.btn):active {
  border-radius: var(--gc-border-radius);
  box-shadow: none;
  outline: none;
}

.d-header {
  height: 5em;
  box-shadow: none;
}

.alert.alert-info {
  border-radius: 10px;
}

.menu-panel .d-label {
  color: var(--primary);
}

a {
  color: var(--quaternary);
}

.category-boxes {
  grid-template-columns: 1fr 1fr;
}

.category-box-inner {
    display: grid !important;
    grid-template-columns: auto auto;
    .category-details {
        display: grid;
        grid-template-rows: auto 1fr;
        order: 1;
        max-width: 300px;
    }
    .category-logo {
        display: grid;
        order: 2;
        padding: 10px 5px 10px 5px;
        .category-logo.aspect-image img {
            height: auto;
            width: auto;
        }
        /*.aspect-image img {
          --custom-height: 100px;
          height: var(--custom-height) !important;
          width: calc(var(--custom-height) * var(--aspect-ratio)) !important;
        }*/
    }
}


.category {
    &.category-box {
      width: 100%;
      margin: 0;
      overflow: hidden;
      border: none;
      // border-top: 8px solid;
      background: var(--secondary);
      border-radius: var(--gc-border-radius);
      box-shadow: 0px 2px 3px 0px rgba(2, 47, 57, 0.14);
      @include gc-card-bg;
      .category-box-inner {
        border: none;
        padding: 0;
        .subcategories {
          display: none;
        }
      }
      &:hover {
        box-shadow: 0px 40px 30px 0px rgba(2, 47, 57, 0.1);
        transform: translateY(-2px);
      }

      .category-box-general {
        border: none;
      }

      h3 {
        color: var(--quaternary);
        text-align: left;
        padding: 5px 0 0 15px;
        font-size: 20px;
      }
    }

    .description {
      color: var(--quaternary);
      text-align: left;
      padding: 5px 0 0 15px;
      margin-top: 10px;
      font-size: 16px;
      line-height: 22px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
    }
}

// CATEGORIES NAVBAR
.navigation-container {
  border-bottom: 3px solid #697970;
}

.list-controls {
  .combo-box {
    .combo-box-header {
      border: none;
      border-radius: var(--gc-border-radius);
      color: var(--quaternary);
      background: var(--secondary);
      border: 2px solid var(--primary);
      padding: 10px 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }
}

.nav-pills > li a.active {
  background: var(--primary);
  color: var(--quaternary);
  border-radius: var(--gc-border-radius);
}
.nav-pills > li>a {
  color: var(--quaternary);
}
.btn-primary {
  border-radius: var(--gc-border-radius);
}

// WELCOME TEXT
.custom-search-banner-wrap {
  h1 {
    font-family: 'ABCMaxiRound';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 79px;
    /* identical to box height */
    text-align: center;
  }
  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

// SEARCH BAR
.search-widget {
  #search-term {
    background: var(--primary);
    border-radius: 0px;
    border: 1px solid #637A6F;
    min-height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-family: ABCMaxiRound;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
  }

  #search-term::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }

  .d-icon-search {
    color: var(--quaternary);
  }

  .search-link .d-icon {
    color: var(--quaternary);
  }

  span.discourse-tag.simple {
    color: var(--quaternary);
  }

  span.keyword {
    color: var(--quartenary);
  }

  .search-menu .results .label-suffix {
    color: var(--quartenary);
  }
}

// TABLES
table {
  th {
    font-weight: normal;
    color: var(--quaternary);
    text-align: left;
    padding: 0.5em;
  }
}

.topic-list-header {
  tr {
    border-bottom: none;
  }
}

.topic-list-body {
  border-top: none;
}

.discourse-tags > a {
  color: var(--quaternary);
}

a.title.raw-link.raw-topic-link {
  color: var(--quaternary);
}

.topic-list {

  td {
    color: var(--quaternary);
  }

  // td.category,
  // .main-link.clearfix {
  //    border-left: 6px solid;
  // }

  tr.has-description,
  .topic-list-item,
  .no-description {
    background: #355F4E;
  }

  // .activity, .num.age.activity {
  //   border-right: 3px solid var(--primary);
  // }

  tr.has-description:last-child,
  .topic-list-item:last-child,
  .no-description:last-child {
    border-bottom: 2px solid var(--primary) !important;
  }

  //"last topic seen" hr
  tbody > tr.last-visit {
    border-bottom: 2px solid var(--primary);
  }

  .topic-list-item-separator > td {
    padding: 1.2rem !important;
    border: 0;
  }

  .topic-list-item-separator td {
    border-bottom: 2px solid var(--primary) !important;
  }

  .topic-list-item-separator {
      .topic-list-data {
        border-top: none;
        span {
          color: #fff;
          text-transform: capitalize;
        }
      }
  }

  //categories boxes
  .category.category-box {
    border-top: var(--primary);
    border-right: var(--primary);
    border-bottom: var(--primary);
    min-height: 190px;
  }

  .topic-excerpt {
      color: var(--quartenary);
  }

}

.topic-list-item.visited .topic-list-data,
.latest-topic-list-item.visited,
.category-topic-link.visited {
  a.title:not(.badge-notification) {
    color: var(--quartenary);
  }
}

.topic-list-item td:first-child,
.topic-post {
  padding: 15px 15px 15px 15px;
}
